<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
<!-- Top Navbar -->
<nav th:fragment="topNavbar" class="navbar navbar-light navbar-glass navbar-top navbar-expand">
    <div class="d-flex align-items-center">
        <div class="toggle-icon-wrapper">
        <button class="btn navbar-toggler-humburger-icon navbar-toggler" style="margin-right: 20px !important;" type="button" data-bs-toggle="collapse" data-bs-target="#navbarVerticalCollapse" aria-controls="navbarVerticalCollapse" aria-expanded="false" aria-label="Toggle Navigation">
            <span class="navbar-toggle-icon"><span class="toggle-line"></span></span>
        </button>
        </div>
        <a class="navbar-brand me-1 me-sm-3" href="index.html">
            <div class="d-flex align-items-center">
                <img class="me-2" th:src="@{/image/egg.png}" alt="" width="40" /><span class="font-sans-serif" style="font-weight: 700 !important;">계란자조금</span>
            </div>
        </a>
    </div>
    
    <ul class="navbar-nav navbar-nav-icons ms-auto flex-row align-items-center">
        <li class="nav-item">
            <div class="theme-control-toggle fa-icon-wait px-2">
                <input class="form-check-input ms-0 theme-control-toggle-input" id="themeControlToggle" type="checkbox" data-theme-control="theme" value="dark" />
                <label class="mb-0 theme-control-toggle-label theme-control-toggle-light" for="themeControlToggle" data-bs-toggle="tooltip" data-bs-placement="left" title="Switch to light theme"><span class="fas fa-sun fs-0"></span></label>
                <label class="mb-0 theme-control-toggle-label theme-control-toggle-dark" for="themeControlToggle" data-bs-toggle="tooltip" data-bs-placement="left" title="Switch to dark theme"><span class="fas fa-moon fs-0"></span></label>
            </div>
        </li>
        
        <li class="nav-item dropdown">
            <a class="nav-link pe-0" id="navbarDropdownUser" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="avatar avatar-xl">
                    <span class="fas fa-user-circle" style="font-size: 33px;"></span>
                </div>
            </a>
            <div class="dropdown-menu dropdown-menu-end py-0" aria-labelledby="navbarDropdownUser">
                <div class="bg-white dark__bg-1000 rounded-2 py-2">
                    <a class="dropdown-item fw-bold text-warning" >
                        <span class="fas fa-user-alt"></span>
                        <span style="margin-left: 7px;" th:text="${#authentication.principal.userId}"></span>
                    </a>
                </div>
                <div class="dropdown-divider"></div>
                <div class="bg-white dark__bg-1000 rounded-2 py-2">
                    <a class="dropdown-item" href="javascript:editPasswordModal();">비밀번호 변경</a>
                    <a class="dropdown-item" th:href="@{/logout}" >로그아웃</a>
                </div>
            </div>
        </li>
    </ul>
</nav>
<!-- End of Top Navbar -->
</body>
</html>