<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
<head>
<meta charset="UTF-8">
<style>
#downTable_filter{
        margin-top: 10px;
            float: right;
            width: 125%;
}
#downTable_filter label{
        font-size: 17px;
        display: inline-block;
        float: right;
}
#downTable_filter label input{
        width: 300px;
        height: 35px;
}
#downTable_paginate{
        margin-top: 10px;
        margin-bottom: 15px;
}

#downTable_length{
        margin-top: 10px;
}
#downTable_length label{
        font-size: 17px;
}
</style>

<script th:inline="javascript">
    
</script>

<script th:src="@{/js/company.js}"></script>

</head>

<body>
<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<section layout:fragment="content" class="p-0">
    <nav aria-label="breadcrumb" style="margin-bottom: 10px; font-size: 20px;">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page" ><a href="javascript:location.reload();">업체 관리</a></li>
      </ol>
    </nav>
    <div class="card">
        <div class="card-body overflow-hidden p-lg-6" style="padding: 1rem !important;">
            <div class="row align-items-center">
                
                <div class="card-header border-bottom"  style="padding: 20px; margin-top: -10px;">
                    <div class="col-auto align-self-center">
                        <div class ="col-auto align-self-center" style="display: inline-block;">
                            <h5 class="mb-0">업체 목록</h5>
                        </div>
                        <button class="btn btn-outline-primary mr-1 mb-1" type="button" style="float: right;" onclick="company.showModal('I');">등록</button>
                    </div>
                </div>
                
                <div class="table-responsive scrollbar">
                    <table class="table table-striped overflow-hidden" id="downTable">
                        <thead>
                            <tr class="btn-reveal-trigger">
                                <th>번호</th>
                                <th>이름</th>
                                <th>별칭</th>
                                <th>GP</th>
                                <th>주소</th>
                                <th>관리</th>
                            </tr>
                        </thead>
                        <tbody id="dynamicTbody">
                        </tbody>
                    </table>
                </div>
                
            </div>
        </div>
    </div>

    <!-- userDeleteModal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">업체 삭제</h5>
          </div>
          <div class="modal-body">
            <p>해당 업체를 삭제 하시겠습니까?</p>
          </div>
          <div class="modal-footer">
            <input type="hidden" id="deleteId" value=""/>
            <button class="btn btn-outline-secondary btn-sm" type="button" data-dismiss="modal" onclick="$('#deleteModal').modal('hide');">취소</button>
            <button class="btn btn-outline-primary btn-sm" type="button" onclick="company.delete();">확인</button>
            </div>
        </div>
      </div>
    </div>
    
    <!-- userAddModal -->
    <div class="modal fade" id="saveModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="saveModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="saveModalLabel"></h5>
          </div>
          <form name="companyForm" id="companyForm" method="post">
              <div class="modal-body">
                  <input type="hidden" id="companyIdx" value=""/>
                  <input type="hidden" name="deleteYn" id="deleteYn" value="N"/>
                  <div class="form-group">
                    <label for="name" class="col-form-label">회사명</label>
                    <input type="text" class="form-control" name="name" id="name" autocomplete="off"/>
                  </div>
                  <div class="form-group">
                    <label for="alias" class="col-form-label">별칭</label>
                    <input type="text" class="form-control" name="alias" id="alias" >
                  </div>
                  <div class="form-group">
                    <label for="addrSi" class="col-form-label">주소(시)</label>
                    <select class="form-control" id="addrSi" name="addrSi">
                        <option value="" selected>선택</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="addrGu" class="col-form-label">주소(구)</label>
                    <select class="form-control" id="addrGu" name="addrGu">
                        <option value="" selected>선택</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="addrDong" class="col-form-label">주소(동)</label>
                    <select class="form-control" id="addrDong" name="addrDong">
                        <option value="" selected>선택</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="addrDetail" class="col-form-label">주소(상세)</label>
                    <input type="text" class="form-control" id="addrDetail" name="addrDetail">
                  </div>
                  <div class="form-group" style="margin-top:1rem;">
                    <label for="gpY" class="col-form-label" style="margin-right: 1rem;">GP 여부</label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" id="gpY" type="radio" name="gpYn" value="Y" checked/>
                        <label class="form-check-label" for="gpY">Y</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" id="gpN" type="radio" name="gpYn" value="N" />
                        <label class="form-check-label" for="gpN">N</label>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="showY" class="col-form-label" style="margin-right: 1rem;">노출 여부</label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" id="showY" type="radio" name="showYn" value="Y" checked/>
                        <label class="form-check-label" for="showY">Y</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" id="showN" type="radio" name="showYn" value="N" />
                        <label class="form-check-label" for="showN">N</label>
                    </div>
                  </div>
              </div>
          </form>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" onclick="$('#saveModal').modal('hide');">취소</button>
            <button type="button" class="btn btn-outline-primary" onclick="company.validateForm();">저장</button>
          </div>
        </div>
      </div>
    </div>
    
</section>



<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->
</body>
</html>