<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
<head>
<meta charset="UTF-8">
<style>
#imageTable_filter{
        margin-top: 10px;
            float: right;
}
#imageTable_filter label{
        font-size: 17px;
        width: 100%;
}
#imageTable_filter label input{
        width: 400px;
}

#imageTable_paginate{
        margin-top: 10px;
}

#imageTable_length{
        margin-top: 10px;
}
#imageTable_length label{
        font-size: 17px;
        width: 50%;
}
</style>
<script th:inline="javascript">
/*<![CDATA[*/
    let nodeId = /*[[ ${nodeId} ]]*/'1';
/*]]>*/
</script>

<script th:src="@{/js/monitoring/image.js}"></script>

</head>
<body>
<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<section layout:fragment="content" class="p-0">
    <nav aria-label="breadcrumb" style="--falcon-breadcrumb-divider: '»'; margin-bottom: 10px; font-size: 20px;">
      <ol class="breadcrumb">
        <li class="breadcrumb-item" chkI18n="menu.node"></li>
        <li class="breadcrumb-item" th:each="nodeList:${nodeList}" th:if="${nodeList.getNodeId().toString().equals(nodeId)}" th:text="${nodeList.getAlias()}"></li>
        <li class="breadcrumb-item active" aria-current="page"><a href="javascript:location.reload();" chkI18n="menu.image"></a></li>
      </ol>
    </nav>
    
    <div class="card">
        <div class="card-body overflow-hidden p-lg-6" style="padding: 1rem !important;">
                
                <div class="card-header border-bottom"  style="padding: 0px;">
                    <div class ="col-auto align-self-center" style="margin-bottom: 15px;">
                        <h5 class="mb-0" chkI18n="menu.image"></h5>
                    </div>
                </div> 
                
                <div class="table-responsive scrollbar" id="div_image">
                    <div>
                      <div class="table-responsive scrollbar">
                        <table class="table table-bordered table-striped fs--1 mb-0" id="imageTable">
                          <thead class="bg-200 text-900">
                            <tr>
                              <th chkI18n="table.username"></th>
                              <th chkI18n="table.version"></th>
                              <th chkI18n="table.size"></th>
                            </tr>
                          </thead>
                          <tbody id="imageTbody">
                          </tbody>
                        </table>
                      </div>
                    </div>
                </div>
        </div>
    </div>
</section>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->
</body>
</html>