<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
<head>
<meta charset="UTF-8">

<script th:inline="javascript">
/*<![CDATA[*/
    let nodeId = /*[[ ${nodeId} ]]*/'1';
/*]]>*/
</script> 

<style>
.on_log{
    border: 1px solid #00d27a;
}
</style>

<script th:src="@{/js/monitoring/logMonitoring.js}"></script>
</head>
<body>
<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<section layout:fragment="content" class="p-0">
    <nav aria-label="breadcrumb" style="--falcon-breadcrumb-divider: '»'; margin-bottom: 10px; font-size: 20px;">
      <ol class="breadcrumb">
        <li class="breadcrumb-item" chkI18n="menu.node"></li>
        <li class="breadcrumb-item" th:each="nodeList:${nodeList}" th:if="${nodeList.getNodeId().toString().equals(nodeId)}" th:text="${nodeList.getAlias()}"></li>
        <li class="breadcrumb-item" chkI18n="menu.log"></li>
        <li class="breadcrumb-item active" aria-current="page"><a href="javascript:location.reload();" chkI18n="menu.logmonitoring"></a></li>
      </ol>
    </nav>
    <div class="card" id="firstDiv">
        <div class="card-body overflow-hidden p-lg-6" style="padding: 1rem !important;">
            
            <div class="card-header border-bottom" style="padding: 5px;">
                <div class="col-auto align-self-center" style="margin-bottom: 10px;">
                    <div class="row">
                        <div class="col-sm-3" style="width: auto;">
                            <div class="form-group" style="margin-top: 20px;">
                                <h5 class="mb-0" th:each="nodeList:${nodeList}" th:if="${nodeList.getNodeId().toString().equals(nodeId)}" th:utext="|${nodeList.getAlias()} ( ${nodeList.getName()} )|"></h5>
                            </div>
                        </div>
                        <div class="col-sm-3" style="width: 25%;">
                            <div class="form-group">
                                <label for="optionPipe" style="font-size: 1.1rem;" chkI18n="menu.pipeline"></label>
                                <select class="form-control" onchange="logMonitoring.getPods(this);" id="optionPipe">
                                    <option value="" chkI18n="table.select"></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3" style="width: 25%;">
                            <div class="form-group">
                                <label for="logPodList" style="font-size: 1.1rem;" chkI18n="menu.pod"></label>
                                <select class="form-control" id="logPodList">
                                    <option value="" selected chkI18n="table.select"></option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="col-sm-3" style="margin-top: 35px; ">
                            <div class="form-group">
                                <button class="btn btn-outline-success mr-1 mb-1" type="button" id="startBtn" disabled onclick="logMonitoring.sseStart();" chkI18n="button.start"></button>
                                <button class="btn btn-outline-danger mr-1 mb-1" style="margin-left:3px;" disabled type="button" id="stopBtn" onclick="logMonitoring.stopLog();" chkI18n="button.stop"></button>
                                <button class="btn btn-outline-primary mr-1 mb-1" style="margin-left:3px;" type="button" onclick="javascript:$('#log-content').empty();" chkI18n="button.clear"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="log-tab-monitoring" id="log-content" style="min-height: 72vh; max-height: 72vh; overflow: auto; margin-top:1%;">
            </div>
            
        </div>
    </div>
</section>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->
</body>
</html>