<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
<head>
<meta charset="UTF-8">
<style>
#downTable_filter{
        margin-top: 10px;
            float: right;
            width: 125%;
}
#downTable_filter label{
        font-size: 17px;
        display: inline-block;
        float: right;
}
#downTable_filter label input{
        width: 300px;
        height: 35px;
}
#downTable_paginate{
        margin-top: 10px;
        margin-bottom: 15px;
}

#downTable_length{
        margin-top: 10px;
}
#downTable_length label{
        font-size: 17px;
}
.btn-outline-info:hover {
    background-color: #55BCB0;
    color : #fff !important;
}
.other:hover {
    background-color: #EC568D;
    color : #fff !important;
}

#map {
    position: absolute;
    top: 16%;
    right: 4%;
    width: 140px !important;
    height: 80% !important;
    z-index: 1060;
    background-color: #d2d2d2;
    opacity: 0.3;
}
</style>

<script th:inline="javascript">
/*<![CDATA[*/
    let nodeId = /*[[ ${nodeId} ]]*/'1';
    let userRole = /*[[ ${userRole} ]]*/'';
/*]]>*/
</script> 

<script th:src="@{/js/monitoring/logSearch.js}"></script>
<script th:src="@{/vendor/pagemap/pagemap-1.4.0.js}"></script>

</head>
<body>
<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<section layout:fragment="content" class="p-0">
    <nav aria-label="breadcrumb" style="--falcon-breadcrumb-divider: '»'; margin-bottom: 10px; font-size: 20px;">
      <ol class="breadcrumb">
        <li class="breadcrumb-item" chkI18n="menu.node"></li>
        <li class="breadcrumb-item" th:each="nodeList:${nodeList}" th:if="${nodeList.getNodeId().toString().equals(nodeId)}" th:text="${nodeList.getAlias()}"></li>
        <li class="breadcrumb-item" chkI18n="menu.log"></li>
        <li class="breadcrumb-item active" aria-current="page"><a href="javascript:location.reload();" chkI18n="menu.logsearch"></a></li>
      </ol>
    </nav>
    <div class="card">
        <div class="card-body overflow-hidden p-lg-6" style="padding: 1rem !important;">
            <div class="card-header border-bottom" style="padding: 0px;">
                <div class="col-auto align-self-center" style="margin-bottom: 15px;">
                    <h5 class="mb-0" chkI18n="table.elascticlist"></h5>
                </div>
                <div class="table-responsive scrollbar" id="div_dash">
                    <table class="table table-striped overflow-hidden" id="downTable">
                        <thead>
                            <tr class="btn-reveal-trigger">
                                <th><div class="form-check"><input type="checkbox" id="checkAll" class="form-check-input" onclick="logSearch.checkAllControl();"/></div></th>
                                <th chkI18n="table.index"></th>
                                <th chkI18n="table.uuid"></th>
                                <th chkI18n="table.health"></th>
                                <th chkI18n="table.status"></th>
                                <th chkI18n="table.doc"></th>
                                <th chkI18n="table.size"></th>
                                <th chkI18n="button.detail"></th>
                            </tr>
                        </thead>
                        <tbody id="downTbody">
                        </tbody>
                        <tfoot>
                            <tr>
                                <th colspan="8" style="text-align: center; font-size: 18px;" id="totalSize"></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
    <!-- deleteModal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel" chkI18n="table.indexdelete">Index Delete</h5>
          </div>
          <div class="modal-body">
            <p id="deleteP"></p>
          </div>
          <div class="modal-footer">
            <button class="btn btn-outline-secondary btn-sm" type="button" data-dismiss="modal" onclick="$('#deleteModal').modal('hide');" chkI18n="button.cancel"></button>
            <button class="btn btn-outline-primary btn-sm" type="button" onclick="logSearch.delete();" chkI18n="button.confirm"></button>
            </div>
        </div>
      </div>
    </div>
    <!-- deleteModal -->
    
    <!-- searchModal -->
    <div class="modal fade" id="staticBackdrop" data-bs-keyboard="false" data-bs-backdrop="static" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg mt-6" role="document" style="max-width: 1600px;">
        <div class="modal-content border-0">
          <div class="position-absolute top-0 end-0 mt-3 me-3 z-index-1"><button class="btn-close btn btn-sm btn-circle d-flex flex-center transition-base" data-bs-dismiss="modal" aria-label="Close"></button></div>
          <div class="modal-body p-0">
            <div class="bg-light rounded-top-lg py-3 ps-4 pe-6">
              <h4 class="mb-1" id="staticBackdropLabel"></h4>
            </div>
            <div class="p-4">
                <div class="row">
                    <input type="hidden" id="selectIndexName" value=""/>
                    <div class="form-group row" style="margin-bottom: 15px;">
                        <label for="optionPipe" class="control-label col-sm-2 text-center align-self-center" style="font-size: 1rem !important; width: auto;" chkI18n="menu.pipeline"></label>
                        <select class="form-control" style="width:230px; display: inline-block;" onchange="logSearch.getPods(this);" id="optionPipe">
                            <option value="" selected chkI18n="table.select"></option>
                        </select>
                        <label for="logPodList" class="control-label col-sm-2 text-center align-self-center" style="font-size: 1rem !important; width: auto;" chkI18n="menu.pod"></label>
                        <select class="form-control" style="width:230px; display: inline-block;" id="logPodList">
                            <option value="" selected chkI18n="table.select"></option>
                        </select>
                        <label for="startH" class="control-label col-sm-2 text-center align-self-center" style="font-size: 1rem !important; width: auto;" chkI18n="table.time"></label>
                        <select id="startH" class="form-control hourClass" style="width: 55px; display: inline-block;"> 
                        </select>
                        <span style="width: auto; margin-top: 5px;"> : </span>
                        <select id="startM" class="form-control minuteClass" style="width: 51px; display: inline-block;">
                        </select>
                        <span style="width: auto; margin-top: 5px;"> : </span>
                        <select id="startS" class="form-control secondClass" style="width: 51px; display: inline-block;">
                        </select>
                        <span style="width: auto; margin-top: 5px;"> ~ </span>
                        <select id="endH" class="form-control hourClass" style="width: 55px; display: inline-block;"> 
                        </select>
                        <span style="width: auto; margin-top: 5px;"> : </span>
                        <select id="endM" class="form-control minuteClass" style="width: 51px; display: inline-block;">
                        </select>
                        <span style="width: auto; margin-top: 5px;"> : </span>
                        <select id="endS" class="form-control secondClass" style="width: 51px; display: inline-block;">
                        </select>
                    </div>
                    <div class="form-group row" style="margin-bottom: 15px;">
                        <label for="lineCount" class="control-label col-sm-2 text-center align-self-center" style="font-size: 1rem !important; width: auto;" chkI18n="table.doc"></label>
                        <select id="lineCount" class="form-control" style="width: 100px; display: inline-block;">
                            <option value="450" selected>300</option>
                            <option value="600">600</option>
                            <option value="900">900</option>
                            <option value="1500">1500</option>
                            <option value="3000">3000</option>
                            <option value="4500">4500</option>
                            <option value="6000">6000</option>
                            <option value="7500">7500</option>
                            <option value="9000">9000</option>
                        </select>
                        
                        <label for="logKeyword" class="control-label col-sm-2 text-center align-self-center" style="font-size: 1rem !important; width: auto;" chkI18n="table.keyword"></label>
                        <input type="text" class="form-control" id="logKeyword" style="width: 380px;" autocomplete='off' onkeyup="logSearch.enterkey()" readonly>
                        
                        <label for="logHigh" class="control-label col-sm-2 text-center align-self-center" style="font-size: 1rem !important; width: auto;" chkI18n="table.highlight"></label>
                        <input type="text" class="form-control" id="logHigh" style="width: 380px;" autocomplete='off' onkeyup="logSearch.enterkey()" readonly>
                        
                        <button disabled class="btn btn-outline-info mr-1 mb-1" onclick="logSearch.getLog();" style="margin-left: 10px; color: #55BCB0; border-color: #55BCB0; width: 55px;" type="button" id="modalSearch">
                            <span class="fas fa-search text-danger fs-5" style="color: #55BCB0 !important; width: 20px; height: auto;"></span>
                        </button>
                    </div>
                    
                    <div class="form-group row" style="margin-bottom: 15px;">
                        <div class="log-tab-monitoring" id="log-content" style="min-height: 72vh; max-height: 72vh; overflow: auto; margin-top:1%;">
                        </div>
                        <canvas id="map" style="display: none;"></canvas>
                    </div>
                    
                    
                    
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- searchModal -->
    
</section>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->
</body>
</html>