<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
<head>
<meta charset="UTF-8">
<style>
#templateTable_filter{
        margin-top: 10px;
            float: right;
}
#templateTable_filter label{
        font-size: 17px;
        width: 100%;
}
#templateTable_filter label input{
        width: 400px;
}

#templateTable_paginate{
        margin-top: 10px;
}

#templateTable_length{
        margin-top: 10px;
}
#templateTable_length label{
        font-size: 17px;
        width: 50%;
}
</style>

<script th:src="@{/js/templateManage.js}"></script>

</head>

<body>
<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<section layout:fragment="content" class="p-0">
    <nav aria-label="breadcrumb" style="margin-bottom: 10px; font-size: 20px;">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page" ><a href="javascript:location.reload();" chkI18n="menu.tomlTemplate"></a></li>
      </ol>
    </nav>
    <div class="card">
        <div class="card-body overflow-hidden p-lg-6" style="padding: 1rem !important;">
            <div class="row align-items-center">
                
                <div class="card-header border-bottom"  style="padding: 20px; margin-top: -10px;">
                    <div class="col-auto align-self-center">
                        <div class ="col-auto align-self-center" style="display: inline-block;">
                            <h5 class="mb-0" chkI18n="tomlTemplate.title"></h5>
                        </div>
                        <button class="btn btn-outline-primary mr-1 mb-1" type="button" style="float: right;" onclick="templateManage.addModal();" chkI18n="button.add"></button>
                    </div>
                </div>
                
                <div class="table-responsive scrollbar">
                    <table class="table table-striped overflow-hidden" id="templateTable">
                        <thead>
                            <tr class="btn-reveal-trigger">
                                <th scope="col" chkI18n="main.type"></th>
                                <th scope="col" chkI18n="table.name"></th>
                                <th scope="col" chkI18n="tomlTemplate.lastUpdate"></th>
                                <th scope="col" chkI18n="table.manage"></th>
                            </tr>
                        </thead>
                        <tbody id="dynamicTbody">
                        </tbody>
                    </table>
                </div>
                
            </div>
        </div>
    </div>

    <!-- userDeleteModal -->
    <div class="modal fade" id="templateDeleteModal" tabindex="-1" role="dialog" aria-labelledby="templateDeleteModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="templateDeleteModalLabel">Template Delete</h5>
          </div>
          <div class="modal-body">
            <p id="templateDeleteP"></p>
          </div>
          <div class="modal-footer">
            <input type="hidden" id="templateDeleteType" value=""/>
            <input type="hidden" id="templateDeleteTag" value=""/>
            <button class="btn btn-outline-secondary btn-sm" type="button" data-dismiss="modal" onclick="$('#templateDeleteModal').modal('hide');" chkI18n="button.cancel"></button>
            <button class="btn btn-outline-primary btn-sm" type="button" onclick="templateManage.delete();" chkI18n="button.confirm"></button>
            </div>
        </div>
      </div>
    </div>
    
    <!-- templateSaveModal -->
    <div class="modal fade" id="templateSaveModal" data-bs-keyboard="false" data-bs-backdrop="static" tabindex="-1" aria-labelledby="templateSaveModalLabel" aria-hidden="true">
      <div class="modal-dialog" style="max-width: 1000px;">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="templateSaveModalLabel">Template Add</h5>
          </div>
          <div class="modal-body">
                <input type="hidden" id="templateActionType" value="I"/>
                <input type="hidden" id="templateOrgType" value=""/>
                <input type="hidden" id="templateOrgTag" value=""/>
                <div class="form-group" >
                    <label for="role" class="col-form-label" chkI18n="main.type"></label>
                    <select class="form-control" id="templatePod">
                        <option value="" selected>Select Pod</option>
                        <option value="data-cleanser">data-cleanser</option>
                        <option value="pm-accura2300">pm-accura2300</option>
                        <option value="pm-accura2500">pm-accura2500</option>
                        <option value="pm-bacnet">pm-bacnet</option>
                        <option value="pm-dnp3">pm-dnp3</option>
                        <option value="pm-eip">pm-eip</option>
                        <option value="pm-file">pm-file</option>
                        <option value="pm-modbus">pm-modbus</option>
                        <option value="pm-mtc">pm-mtc</option>
                        <option value="pm-ntek">pm-ntek</option>
                        <option value="pm-opcua">pm-opcua</option>
                        <option value="pm-s7">pm-s7</option>
                        <option value="pm-s7">pm-dass</option>
                        <option value="pm-tcplistener">pm-tcplistener</option>
                        <option value="processing-pipe">processing-pipe</option>
                        <option value="sender-amqp">sender-amqp</option>
                        <option value="sender-filewriter">sender-filewriter</option>
                        <option value="sender-kafka">sender-kafka</option>
                        <option value="sender-restapi">sender-restapi</option>
                    </select>
                </div>
                
                <div class="form-group" style="margin-bottom: 20px;">
                    <label for="userId" class="col-form-label" chkI18n="table.name"></label>
                    <input type="text" class="form-control" id="tagName" autocomplete='off'>
                </div>
                
                <div class="form-group">
                    <div class="d-flex">
                        <span class="fa-stack ms-n1 me-3">
                            <i class="fas fa-circle fa-stack-2x text-200"></i>
                            <i class="fa-inverse fa-stack-1x text-primary fas fa-align-left" data-fa-transform="shrink-2"></i>
                        </span>
                        <div class="flex-1" id="editArea">
                          <h5 class="mb-2 fs-0" chkI18n="tomlTemplate.content"></h5>
                            <div id="contentBox" style="min-height: 700px; max-height:700px;">
                            </div>
                        </div>
                    </div>
                </div>
                
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" onclick="$('#templateSaveModal').modal('hide');" chkI18n="button.cancel"></button>
            <button type="button" class="btn btn-outline-primary" onclick="templateManage.save();"chkI18n="button.save"></button>
          </div>
        </div>
      </div>
    </div>
    
</section>



<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->
</body>
</html>